# Dossiers de build
BUILD/
*/BUILD/
SCRIPTS/KRITA/logoScripts
RESOURCES/TEXTURES/*
OBJ/
*/OBJ/
**/OBJ/
roadmap.txt


# Fichiers objets et binaires
*.o
*.elf
*.cdi
*.bin

# Fichiers temporaires
*.img
*.tmp
*~

# Fichiers systèmes
.DS_Store
Thumbs.db